/* #map2{ */
    /*width:100%; height:100%;*/
    /*overflow: hidden;*/
/* } */
.map2 {
  width: 100%;
  height: 100%;
  float: left;
  border-left: 2px solid;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid

}
/* .map2:-moz-full-screen {
      height: 100%;
    }
    .map2:-webkit-full-screen {
      height: 100%;
    }
    .map2:-ms-fullscreen {
      height: 100%;
    }
    .map2:fullscreen {
      height: 100%;
    }
    .ol-rotate {
      top: 3em;
    } */
.ol-popup {

  position:absolute;
    min-width: 400px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 26px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;

}
.ol-popup-closer:after {
    content: "✖";

}
.fullscreen:-moz-full-screen {
      height: 100%;
    }
    .fullscreen:-webkit-full-screen {
      height: 100%;
    }
    .fullscreen:-ms-fullscreen {
      height: 100%;
    }

    .fullscreen:fullscreen {
      height: 100%;
    }

    .fullscreen {
      margin-bottom: 10px;
      width: 100%;
      height: 600px;
    }

    .ol-rotate {
      top: 3em;
    }

    .sidepanel {
      /* background: 'transparent'; */
      background-color: 	rgba(255,255,255,0.5);


      /* border: 2px solid black; */
      width: 100%;
      height: 100%;
      float: left;
      padding: 5px
    }

    .sidepanel-title {
      width: 100%;
      font-size: 1.3em;
      color: 'black';
      font-weight: bold;
      display: block;
      text-align: left;
      margin-bottom: 5px
    }
    .rotate-north {
            top: 65px;
            left: .5em;
          }
          .ol-touch .rotate-north {
            top: 80px;

          }
