<section class="content-header">
  <h1>
    Land Owner: &nbsp;<b>{{owner.name}}</b>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#/landowners"><i class="fa fa-user"></i>&nbsp;Land Owners</a></li>
    <li class="active">{{owner.name}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="nav-tabs-custom">

      <ul class="nav nav-tabs">
        <li class="active"><a>Details</a></li>

    </ul>


      <br>

      <div class="container-fluid">


      <uib-accordion close-others="oneAtATime" class="uib">
            <!-- ------------------------- -->
            <!-- ----  OWNER DETAILS   ------- -->
            <!-- ------------------------- -->

            <uib-accordion-group panel-class="box box-default" is-open="status.isFirstOpen">
              <uib-accordion-heading class="accordion-heading">
                  <span class = "accordion-header" ng-click="toggleOwnerDetailsAccordion()">LAND OWNER DETAILS &nbsp;</span>
                <div class="btn-group pull-right">
                  <button class="btn btn-default btn-xs" ng-click="toggleOwnerDetailsAccordion()"><i class="fa fa-{{OwnerDetailsExpanded? 'plus':'minus'}}"></i> <span class = "hidden-xs" style="font-size: small">&nbsp;{{OwnerDetailsExpanded? 'View':'Hide'}}</span></button>
                </div>
              </uib-accordion-heading>


            <div class="row">

            <div class="form-group col-lg-3 col-md-3 col-sm-6">
            <label>OWNER NAME</label>
            <input ng-model="owner.name" type="text" class="form-control"/>
            </div>


              <div class="form-group col-lg-4 col-md-6 col-sm-6">
                <label>STREET ADDRESS</label>
                <input ng-model="owner.address" type="text" placeholder='' class="form-control"  />
              </div>

              <div class="form-group col-lg-2 col-md-3 col-sm-3">
                <label>CITY</label>
                <input ng-model="owner.city" type="text" placeholder='' class="form-control"  />
              </div>

              <div class="form-group col-lg-2 col-md-2 col-sm-3">
                <label>STATE</label>
                <input ng-model="owner.state" type="text" placeholder='' class="form-control"  />
              </div>
              <div class="form-group col-md-2 col-sm-3">
                <label>ZIP</label>
                <input ng-model="owner.zip" type="text" placeholder='' class="form-control"  />
              </div>

              <div class="form-group col-md-2 col-sm-3">
                <label>PHONE 1</label>
                <input ng-model="owner.phone1" type="text" placeholder='' class="form-control"  />
              </div>

              <div class="form-group col-md-2 col-sm-3">
                <label>PHONE 2</label>
                <input ng-model="owner.phone2" type="text" placeholder='' class="form-control"  />
              </div>

              <div class="form-group col-md-4 col-sm-6">
                <label>EMAIL</label>
                <input ng-model="owner.email" type="text" placeholder='' class="form-control"  />
              </div>

              <div class="form-group col-md-2 col-sm-3">
                <label>TAX ID</label>
                <input ng-model="owner.taxid" type="text" placeholder='' class="form-control"  />
              </div>

            </div>

        </uib-accordion-group>
        <uib-accordion close-others="oneAtATime" >
          <!-- ------------------------- -->
          <!-- ----  WORKING TRACTS  ------- -->
          <!-- ------------------------- -->

          <uib-accordion-group panel-class="box box-default"is-open="status.isFirstDisabled"  >
            <uib-accordion-heading>
                <span class = "accordion-header" ng-click="toggleWorkingTractsAccordion()">WORKING TRACTS &nbsp;</span><span class="badge" style="background-color:#777">{{totaltracts}}</span>

              <div class="btn-group pull-right">
<button class="btn btn-default btn-xs" ng-click="toggleOwnerDetailsAccordion()"><i class="fa fa-{{OwnerDetailsExpanded? 'plus':'minus'}}"></i> <span class = "hidden-xs" style="font-size: small">&nbsp;{{OwnerDetailsExpanded? 'View':'Hide'}}</span></button>                </div>
            </uib-accordion-heading>



          <table class="table table-hover" style="overflow-x:scroll; ">
            <thead>
              <tr class="panel-heading" >
                <th><a href="#" ng-click="orderBy('sequence', $event)" style="color:black;"><b>SEQ</b></a>
                <span ng-show="orderByField == 'sequence'"><small><span ng-show="!reverseSort" class="fa fa-sort-asc" style="color:black"></span><span ng-show="reverseSort" style="color:black" class="fa fa-sort-desc"></span></small></span></th>

                <th><a href="#" ng-click="orderBy('tract', $event)" style="color:black;"><b>TRACT</b></a>
                <span ng-show="orderByField == 'tract'"><small><span ng-show="!reverseSort" class="fa fa-sort-asc" style="color:black"></span><span ng-show="reverseSort" style="color:black" class="fa fa-sort-desc"></span></small></span></th>

                <th><a href="#" ng-click="orderBy('type', $event)" style="color:black;"><b>TYPE</b></a>
                <span ng-show="orderByField == 'type'"><small><span ng-show="!reverseSort" class="fa fa-sort-asc" style="color:black"></span><span ng-show="reverseSort" style="color:black" class="fa fa-sort-desc"></span></small></span></th>

                <th><a href="#" ng-click="orderBy('owner', $event)" style="color:black;"><b>OWNER</b></a>
                <span ng-show="orderByField == 'owner'"><small><span ng-show="!reverseSort" class="fa fa-sort-asc" style="color:black"></span><span ng-show="reverseSort" style="color:black" class="fa fa-sort-desc"></span></small></span></th>

                <th><a href="#" ng-click="orderBy('county', $event)" style="color:black;"><b>COUNTY</b></a>
                <span ng-show="orderByField == 'county'"><small><span ng-show="!reverseSort" class="fa fa-sort-asc" style="color:black"></span><span ng-show="reverseSort" style="color:black" class="fa fa-sort-desc"></span></small></span></th>

                <th><a href="#" ng-click="orderBy('acres', $event)" style="color:black;"><b>ACRES</b></a>
                <span ng-show="orderByField == 'acres'"><small><span ng-show="!reverseSort" class="fa fa-sort-asc" style="color:black"></span><span ng-show="reverseSort" style="color:black" class="fa fa-sort-desc"></span></small></span></th>


                </tr>

            </thead>
            <tbody>
              <tr ng-repeat="record in ownerMatchArray| orderBy:orderByField:reverseSort" >
                <td><a href="#/{{record.group}}/{{record.$id}}" ><b>{{record.sequence}}</b></a></td>
                <td><a href="#/{{record.group}}/{{record.$id}}" ><b>{{record.tract}}</b></a></td>
                <td><a href="#/{{record.group}}/{{record.$id}}" ><b>{{record.type}}</b></a></td>
                <td><a href="#/{{record.group}}/{{record.$id}}" ><b>{{record.owner}}</b></a></td>
                <td><a href="#/{{record.group}}/{{record.$id}}" ><b>{{record.county}}</b></a></td>
                <td><a href="#/{{record.group}}/{{record.$id}}" ><b>{{record.acres}}</b></a></td>
                <td><a href="#/{{record.group}}/{{record.$id}}"><span  class="fa fa-edit"></span></a></td>


            </td>


              </tr>
            </tbody>
          </table>
        </uib-accordion-group>

</uib-accordion> <!-- end of accordion -->


      <div class="box-tools pull-right" style="margin:10px 0px 10px 0px">
      <button type="button" id="InactivateOwner" class="btn btn-{{inactiveFilter ? 'success':'danger'}} btn-md"  ng-click="toggleInactive()"><span class="fa fa-{{inactiveFilter ? 'check':'ban'}}" style="color:white"></span >&nbsp; {{inactiveFilter ? 'Activate':'Inactivate'}}</button>
    </div>
</div>

</section>
